body {
  margin: 0;
}

*[class^="button"] {
  cursor: pointer;
}

button {
  width: 8rem;
  height: 2rem;
  border-radius: 2rem;
  background-color: $color-2;
  cursor: pointer;
}

a,
a:visited {
  color: black;
  font-size: 1.2rem;
}

* {
  padding: 0;
  list-style-type: none;
  outline: none;
  text-decoration: none;

  &::selection {
    background: $color-1;
    color: white;
  }
}

.main {
  margin-left: 3rem;
  flex-direction: column;
  margin: auto;
}

textarea {
  resize: none;
  background: white;
}

.error{
  color: red;
  margin: 0.5rem;
}