.thread-container {
  display: flex;
  justify-content: center;
  ul {
    width: 18rem;
  }
}

.card-container {
  margin-top: 1rem;
  border: solid 1px $color-1;
  background-color: white;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  width: 18rem;
  word-break: break-word;
  .card {
    padding: 0.5rem 0rem 1rem 0rem;

    .btn {
      margin: 1rem 0;
    }
    textarea {
      width: 16rem;
      margin: auto;
      height: 5rem;
      padding: 0.5rem;
    }

    .card-header {
      display: flex;
      justify-content: center;
      align-items: center;

      h3,
      span {
        margin: 0.5rem 0 0 0.5rem;
      }
      .img-profil img {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        object-fit: cover;
      }
    }

    .card-content {
      text-align: center;

      p {
        text-align: justify;
        margin: 0.5rem;
      }
    }
    .card-pic {
      width: 16rem;
      border-radius: 2rem;
    }
    .content {
      text-align: center;

      p {
        text-align: left;
        margin: 0.5rem;
        overflow-wrap: break-word;
      }
      iframe {
        width: 250px;
        height: 150px;
        margin: auto;
      }
      display: flex;
      flex-direction: column;
      padding: 0.5rem;
      margin-bottom: 0.5rem;
      img {
        max-width: 16rem;
        border-radius: 2rem;
      }
    }

    .card-footer {
      margin-top: 1rem;
      padding-right: 0.5rem;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      span {
        margin: 0 1rem 0 0rem;
      }
      svg {
        margin: 0 0.5rem 0 1rem;
      }
      .button-card {
        display: flex;
        span {
          padding: 2px 0 0 0;
        }
      }
      .like-container svg {
        cursor: pointer;
      }
    }
  }
}
