.left-nav-container {
  position: fixed;
  min-height: 150%;
  left: 0;
  background-color: $color-1;
  z-index: 1;
  transform: translateY(-172px);
  .left-nav svg {
    padding: 0.3rem;
    width: 2.4rem;
  }
}

.icons {
  position: -webkit-sticky;
  transform: translateY(180px);
  top: -50px;
  left: 0;
}

.left-nav svg {
  border-right: solid 3px transparent;
}
.active-left-nav svg {
  border-top: solid 1px #fd2d01;
  border-left: solid 3px #fd2d01;
  border-bottom: solid 3px #fd2d01;
  color: black;
  background-color: white;
}
