@use '../utils/_variables' as vars;

.form-container {
  ul {
    display: flex;
    justify-content: space-around;
    li {
      background-color: #ffd7d7;
      border: solid transparent 2px;
      border-radius: 2rem;
      padding: 0.5rem;
      &:hover {
        border: solid #fd2d01 2px;
      }
    }
  }

  .active-btn {
    border: solid #fd2d01 2px;
  }
}

.img-container img {
  height: 10rem;
}

.log-container {
  display: flex;
  justify-content: center;
  text-align: center;
  a{
    font-size: 1rem;
    text-decoration: underline;
  }
}

.connection-form {
  width: 14rem;
  background: white;
  margin: 1rem 0;
  border-radius: 2rem;
  padding: 0 1rem 1rem 1rem;

  input:last-child {
    margin: 0 1rem;
    width: 8rem;
    height: 2rem;
    border-radius: 2rem;
    background-color: vars.$color-2;
    cursor: pointer;
  }
}

#terms {
  width: inherit;
  height: inherit;
}
