.nav-container{
    border-bottom : 3px solid #FD2D01;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-container ul{
/*     display: flex; */
}

.logo img{
    height: 5rem;
    width: auto;
}