.nav-container{
    border-bottom : 3px solid #FD2D01;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-img img{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.nav-container ul{
    display: flex;
    align-items: center;
}

.logo img{
    height: 5rem;
    width: auto;
}