.footer-form{
    input {
        width: 25px;
        height: 25px;
        position: absolute;
        transform: translate(-30px, -3px);
        opacity: 0;
        cursor: pointer;
    
        &::-webkit-file-upload-button {
          cursor: pointer;
        }
      }
}
