@use '../utils/_variables' as vars;

.upload-pic input {
    width: 8rem;
    height: 2rem;
    border-radius: 2rem;
    background-color: vars.$color-2;
    margin: 0.5rem 0.5rem;
    cursor: pointer;
}